{% extends "base.html" %}
{% block title %}
  О нас
{% endblock %}
{% block content %}
<div class="col d-flex justify-content-center">
  <div class="card" style="width: 60rem;">
    <div class="card-body">
      <h5 class="card-title">Высококачественные корма для кошек и собак от спортивной команды "Живая Сила"</h5>
      <p class="card-text">
          Корма JJ-SPORT и Будь Здоров от команды ЖИВАЯ СИЛА для собак и кошек!

          - Класс Holistic и Superpremium<br>
          - Свежие мясо и рыба (40-58 %), овощи, фрукты и ягоды в составах;<br>
          - 40+ эксклюзивных представительств по всей России для корма JJ-SPORT;<br>
          - Производство в Санкт-Петербурге.<br>
          - Без курицы<br>
          - Без ГМО<br>
          - Без вредных химических консервантов<br><br>

          Так же в продаже есть:<br>
          - ЛОСОСЁВОЕ и АНЧОУСНОЕ МАСЛО в объеме 100 мл, 300 мл и 500 мл;<br>
          - натуральные витамины "Аминокислотная мука" от Карельской фермы в объеме 250 гр и 500 гр<br>
          - древесный наполнитель для лотков<br><br>

          Как сделать заказ? Просто позвоните нам и 
          запишитесь на доставку! Ежедневно принимаем заказы по Ульяновску и Ульяновской области<br>
          по тел: 8(987)639-45-09 - Яна Любина, региональный представитель.<br><br>

          Заказная позиция корма от 10 -20 кг. Корма объемом 1 кг, 2,5 кг и пробники 0,2 кг - В НАЛИЧИИ.<br><br>

          Возможна отправка корма в близлежащие города любой транспортной компанией.<br><br>

          По Ульяновску действует бесплатная доставка на дом с понедельника по четверг, по предварительному согласованию, по мере накопления заказов на раздачу.<br><br>

          Возможен самовывоз в любой день с 08:00 до 20:00 по адресу: г. Ульяновск, ул. Оренбургская, 56 (м-н Кудашкино, левый берег, Верхняя терраса). Желательно предварительно уточнить ассортимент в магазине.<br><br>

          В целях экономии Вашего времени возможна отправка Яндекс курьером в любую точку города, в том числе и в выходные дни.<br><br>
      </p>
    </div>
  </div>
</div>
{% endblock %}