{% load static %}
<div class="col d-flex align-items-stretch md-4">
  <div class="card mb-4 box-shadow d-flex">
    <div class="card-body">
      <a href="{{ product.get_absolute_url }}">
        <img class="card-img-top" src="
          {% if product.image %}
            {{ product.image.url }}
          {% else %}
            {% static "img/Unknown.jpeg" %}
          {% endif %}">
      </a>
      <div>
        <h5 class="card-title">{{ product.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <small>Кол-во: {{ item.quantity }}</small>
        </h6>
      </div>
      <a href="{% url 'store:cart_remove' product.id%}" class="btn btn-primary">Удалить товар</a>
    </div>
  </div>
</div>