<div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title"> Заказ №{{ order.id }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <small>
            {{ order.created_at|date:"d E Y, H:i" }}
          </small>
        </h6>
        <p class="card-text">
          Имя: {{ order.first_name }}<br>
          Фамилия: {{ order.last_name }}<br>
          Адрес: <a href="#">{{ order.city }}, {{ order.street }}, д. {{ order.building }}, подъезд {{ order.entrance }}</a><br>
          Номер телефона: <a href="tel:{{ order.number_phone }}">{{ order.number_phone }}</a><br>
          Статус: {{ order.status }}<br>
        </p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Товар</th>
                <th scope="col">Кол-во</th>
              </tr>
            </thead>
            <tbody>
              {% for item in order_items %}
                {% if item.order == order %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ item.product.title }}</td>
                    <td>{{ item.quantity }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
          {% if order.status != 'Доставлен' and order.status != 'Отменен' %}
            {% if order.status != 'Отменен' %}
            <a href="{% url 'store:order_cancelled' order.id %}" class="btn btn-primary">Отменить</a>
            {% endif %}
            {% if request.user.is_superuser %}
              {% if order.status != 'Подтвержден' and view_name == 'store:delivery' %}
              <a href="{% url 'store:order_confirmed' order.id %}" class="btn btn-primary">Подтвердить</a>
              {% endif %}
              <a href="{% url 'store:order_ready' order.id %}" class="btn btn-primary">Доставлен</a>
            {% endif %}
          {% endif %}
      </div>
    </div>
  </div>