{% extends "base.html" %}
{% load static %}
{% block title %}
    Корзина покупок
{% endblock %}
{% block content %}
<div class="col d-flex justify-content-center">
    <div class="card" style="width: 80rem;">
      <div class="card-body">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for item in cart %}
                {% with product=item.product %}
                    {% include "includes/cart_card.html" %}
                {% endwith %}
            {% endfor %}
        </div>
        <br><br>
        <tr class="total">
            <td>Итог:</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} руб.</td>
        </tr>
        <p class="justify-content-center">
            <a href="{% url 'store:product-list' %}" class="btn btn-primary">Продолжить покупки</a>
            <a href="{% url 'store:order-add' %}" class="btn btn-primary">Заказать</a>
        </p>
        </div>
    </div>
</div>
{% endblock %}