{% extends "base.html" %}
{% block content %}
<div class="py-2" style="background-color: white;">
      <h1 class="mb-5 text-center ">Страница пользователя {{ profile.username }}</h1>
      <small>
        <ul class="list-group list-group-horizontal justify-content-center mb-3">
          <li class="list-group-item text-muted">Имя пользователя: {% if profile.get_full_name %}{{ profile.get_full_name }}{% else %}не указано{% endif %}</li>
          <li class="list-group-item text-muted">Регистрация: {{ profile.date_joined }}</li>
          <li class="list-group-item text-muted">Роль: {% if profile.is_staff %}Админ{% else %}Пользователь{% endif %}</li>
        </ul>
        <ul class="list-group list-group-horizontal justify-content-center" style="background-color:white">
          <a href="{% url 'store:info-user-edit' request.user.username %}" class="btn btn-sm text-muted">Редактировать анкету</a>
          <a class="btn btn-sm text-muted" href="{% url 'password_change' %}">Изменить пароль</a>
        </ul>
      </small>
</div>
  <br>
    {% for order in orders %}
        <article class="mb-5">
            {% include "includes/order_card.html" %}
        </article>
    {% endfor %}
{% endblock %}